---
layout: default
title: Mark Sherrard
permalink: /
---
{% assign resume = site.data.resume %}

<div class="container">
  <div class="col">
    <section id="pic" class="section">
      <img src="me.jpg" alt="Mark Sherrard" class="centered"
        style="display: block; margin-left: auto; margin-right: auto; max-width: 140px; width: 100%; height: auto; border-radius: 8px; margin-bottom: 1rem;">
    </section>

    <section id="about" class="section">
      <h2>Hi, I'm Mark</h2>
      <p>
        I'm a passionate Product Management leader with 10+ years scaling products across government programs,
        logistics, and enterprise B2B SaaS. I've been the first PM at a startup that grew from 12 to 600+ employees, built
        systems handling 300K+ orders, and recently created the Department of Energy Home Energy Rebates Program enabling $218M+ in active
        rebates.
      </p>
      <p>
        I specialize in transforming complex technical challenges into scalable business solutions from federal
        compliance and API integrations to supply chain optimization. My data driven approach delivers measurable
        results while fostering team growth and cross-functional collaboration.
      </p>
      <p>
        I'm also a huge SF Giants fan, 49ers fan, University of Denver alum, retired outfielder for The Dingers,
        brewmaster, cyclist, hiker, tennis player, runner (Lake Merritt 3.2m record 22:33), INTJ, Starcraft 2 player,
        and much more!
      </p>
      <ul class="contact-list">
        <li>
          <a href="mailto:mark@marksherrard.com" target="_self" class="nav-link">Email</a> /
        </li>
        <li>
          <a href="https://github.com/markymark13" target="_blank" rel="noopener" class="nav-link">GitHub</a> /
        </li>
        <li>
          <a href="https://linkedin.com/in/marksherrard" target="_blank" rel="noopener" class="nav-link">LinkedIn</a>
        </li>
      </ul>
    </section>

    <section id="experience" class="section">
      <h2>Experience</h2>
      <ul class="experience-list">
        {% for job in resume.work %}
        <li class="experience-item">
          <div class="text-small">
            {{ job.startDate }} - {% if job.endDate %}{{ job.endDate }}{% else %}current{% endif %}
          </div>
          <div class="company-row">
            <img
              src="https://img.logo.dev/{{ job.website | replace: 'https://', '' | replace: 'http://', '' | split: '/' | first }}?token={{site.logo_api_token}}"
              alt="{{ job.name }} logo"
              class="company-logo" />
            <a href="{{ job.website }}" target="_blank" rel="noopener" style="vertical-align: middle; margin-right: 8px;">
              {{ job.name }}
            </a>
            {% if job.acquiredBy %}
            <span class="acquired">
              (acquired by {{ job.acquiredBy }})
            </span>
            {% endif %}
          </div>
          <p class="text-small">
            {{ job.position }}
          </p>
          {% if job.summary %}
          <p>{{ job.summary }}</p>
          {% endif %}
          <ul>
            {% for item in job.highlights %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section id="projects" class="section">
      <h2>Projects</h2>
      <ul class="project-list">
        {% for project in site.data.projects %}
        <li class="project-item">
          <a href="{{ project.website }}" target="_blank" rel="noopener" class="project-link">
            <div style="flex:1 1 0%; min-width:0;">
              <div class="project-title">
                {{ project.title }}
              </div>
              <div class="project-desc">
                {{ project.description }}
              </div>
            </div>
            <!-- Arrow SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <line x1="5" y1="12" x2="19" y2="12" />
              <polyline points="12 5 19 12 12 19" />
            </svg>
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section id="skills" class="section">
      <h2>Skills</h2>
      <div>
        {% for skill in resume.skills %}
        {% for keyword in skill.keywords %}
        <span class="tag is-small">{{ keyword }}</span>
        {% endfor %}
        {% endfor %}
      </div>
    </section>
  </div>

  <footer class="footer">
    &copy; {{ site.time | date: "%Y" }} Mark Sherrard
  </footer>
</div>